@{
    ViewData["Title"] = "Index";
}
@model List<Hobby>
<h1 class="text-center mt-5 mb-5">Hobbies</h1>
<a asp-action="Logout" asp-controller="Home">Logout</a>
<div class="row mt-5">
  <div class="col-6">
    <table class="table table-dark mb-5">
      <thead>
        <tr>
          <th>Name</th>
          <th>Enthusiasts</th>
        </tr>
      </thead>
      <tbody>
        @{
          foreach(var h in Model)
          {
            <tr>
              <td><a asp-action="display" asp-controller="Home" asp-route-id="@h.HobbyId">@h.Name</a></td>
          <td>@h.UserJoined.Count</td>
            </tr>
          }
        }
      </tbody>
    </table>

    <a class="mt-5" asp-action="NewHobby" asp-controller="Home">Create a Hobby</a>
  </div>
  <div class="col-6">
    <div class="jumbotron ml-5">
      <h3>Top Novice:</h3>
      <ul style="list-style: none;">
        <li>Hiking</li>
      </ul>
      <h3>Top Intermediate:</h3>
      <ul style="list-style: none;">
        <li>Hiking</li>
        <li>Gaming</li>
      </ul>
      <h3>Top Expert:</h3>
      <ul style="list-style: none;">
        <li>None</li>
      </ul>
    </div>
  </div>
</div>